@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:400,500,600,700,800&display=swap');


/* --Main Generic CSS----*/
body{
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}
nav {
    display: block;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.main-container {
    padding-right:0;
    padding-left:0;
}

/*-- custom styling for all icons --*/
i.fas,
i.fab {
  padding-right: 6px;
  color: red;
}

/* --Jumbotron CSS----*/
.jumbotron-fluid {
   background-image: url('../media/images/grogansHDR.jpg');
   min-height: 50vh;
   position: sticky;
   color: #fff;
  /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   text-align: center;
   z-index: 1;
   margin-bottom: 20px;


}
.jumbotron-overlay{
    background-color: rgba(36, 36, 49, 0.82);
    min-height: 50vh;
    z-index: 2;
}


.title-logo{
    padding-top: 120px;
}

.lead {
    padding: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 800;
}
hr{
    background-color: red;
    max-width: 70%;
    border-top: 4px solid rgba(0,0,0,.1);
}


/* --Categories CSS----*/
.categories-tab {
    width: 65%;
    margin: auto;
}
.list-group-item.active{
    background-color: #333333;
}
.list-group-item i{
    font-size: 1.5em;
}

.list-group-item a{
    color: #333333;
}


/* --Cards CSS----*/
.card{
    background-color: #333333;
    margin-bottom: 6px;
}

.card-title{
    color: #fff;
    font-size: 1.4em;
    font-weight: 800;
    margin-top: 8px;
    margin-left: 4px;
    text-transform: capitalize;
}
.card-img, .card-img-bottom, .card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-text {
    padding-top: 2px;
    margin-top: 4px;
    font-weight: 300;
    text-align: justify;
}

.card-footer {
    background-color:#222222;
    margin: 0;
    padding:0;

}
.card-footer .btn {
    margin-left: 2px;

}




/* --Button CSS----*/
.btn{
    background-color: #333333;
    border-color:aliceblue;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: sandybrown;
}

.active{
    background-color: #333333;
}


/* --Footer CSS----*/
.main-footer{
    background-color: #333333;
    color: #fff;
    margin-top: 30px;
    padding-top: 20px;
    min-height: 120px;
  
}

#bootstrap-image img {
    padding: 4px;
    width: 40px;
    height: 40px;
}
.service-item {
    padding: 2.5em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.service-item p {
    padding: 0;
    margin: 0;
}

.service-item:before {
    content: attr(data-services);
    position: absolute;
    left: 2.5em;
    top: 2em;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.service-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 1.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.service-item h5 {
    font-size: 0.8em;
}

.service-item p {
    font-size: 0.7em;
}


.social-menu li{
    padding: 10px;
    margin-left: 2px;
}

.social-list{
   display: flex;
   list-style: none;

}

.social-list li i{
    color: #fff;
    margin-right: 4px;
    font-size: 36px;
}

.social-list li a{
    color: #fff;

}


.social-list a:hover, .social-list i:hover {
    color:sandybrown;

}


/*----Services------------*/

.featurette-divider{
    margin-top: 3em;
    margin-bottom:3em;
}

.featurette-image-div{
    margin: auto;
    text-align: center;
    justify-content: center;
}

.featurette-body-text {
    background-color: #222222;
}
/*-----Form CSS----------*/

form{
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

#submitButton {
    margin-bottom: 4px;
    font-size: 1.5em;
}
