@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Poppins:400,500,600,700,800&display=swap');


/* --Main Generic CSS----*/
body{
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}
nav {
    display: block;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;
}


/* --Jumbotron CSS----*/
.jumbotron-fluid {
   background-image: url('../media/images/grogansHDR.jpg');
   min-height: 60vh;
   position: sticky;
   color: #fff;
  /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   text-align: center;
   z-index: -1;
   margin-bottom: 20px;


}
.jumbotron-overlay{
    background-color: rgba(36, 36, 49, 0.82);
    min-height: 60vh;
    z-index: 1;
}

.title-logo{
    padding-top: 120px;
}

.lead {
    padding: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 800;
}
hr{
    background-color: red;
    max-width: 70%;
    border-top: 4px solid rgba(0,0,0,.1);
}


/* --Categories CSS----*/
.list-group-item.active{
    background-color: #333333;
}
.list-group-item svg{
    font-size: 1.2em;
}

.badge-pill{
    padding: 8px;
}


/* --Cards CSS----*/
.card{
    background-color: #333333;
    margin-bottom: 6px;
}

.card-title{
    color: #fff;
    font-size: 1.4em;
    font-weight: 800;
    margin-top: 8px;
    margin-left: 4px;
    text-transform: capitalize;
}
.card-img, .card-img-bottom, .card-img-top {
    object-fit: cover;
    height: 200px;
}

.content{
    padding-top: 2px;
    margin-top: 1px;
    font-weight: 400;
    text-align: justify;
}


/* --Button CSS----*/
.btn{
    background-color: #333333;
    border-color:aliceblue;
    margin-bottom: 20px;
}

.active{
    background-color: #333333;
}


/* --Footer CSS----*/
.main-footer{
    background-color: #333333;
    color: #fff;
    padding-top: 20px;
    min-height: 120px;
  
}

.social-menu li{
    padding: 10px;
    margin-left: 2px;
}

.social-list{
   display: flex;
   list-style: none;

}

.social-list svg{
    margin-right: 4px;
    font-size: 36px;
}
